<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Removal</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/memos.css" />


</head>
<body>
<div class="container">

<form action = "index" method = "post">
<h1>Delete memo:</h1> <br>
Memo text:
<input type="text" name ="memoMake"><br>
<input type="submit" value = "Submit">
</form>

<br>

<a href="templates/index.html">Go back to main memos page</a>

<br>
</div> <!-- container -->
</body>
</html>
